{% extends 'base.html.twig' %}

{% block title %}Liste des Blog Posts
{% endblock %}

{% block content %}

	<!-- Posts Section -->
	<section class="page-section bg-light mt-5" id="postsList">
		<div
			class="container">
			<!-- Section Heading-->
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Liste des Posts</h2>
			<!-- Icon Divider-->
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon">
					<i class="fas fa-newspaper"></i>
				</div>
				<div class="divider-custom-line"></div>
			</div>

			<!-- Posts List-->
			<div class="row justify-content-center">
				{% if posts is empty %}
					<p class="text-center">Aucun post disponible pour le moment.</p>
				{% else %}
					{% for post in posts %}
						<div class="col-md-6 col-lg-4 mb-5 d-flex align-items-stretch">
							<div class="post-item mx-auto card shadow-sm d-flex flex-column">
								<div class="card-body d-flex flex-column">
									<h3 class="card-title text-center">{{ post.title }}</h3>
									<p class="card-text">
										{% if post.updatedAt %}
											<strong>Date de dernière modification :</strong>
											{{ post.updatedAt|date('d-m-Y H:i') }}
										{% else %}
											<strong>Date de création :</strong>
											{{ post.createdAt|date('d-m-Y H:i') }}
										{% endif %}
									</p>
									<p>
										<strong>Chapô :</strong>
										{{ post.chapo }}
									</p>

									<!-- Lire la suite -->
									<div class="mt-auto text-center">
										<a href="/posts/{{ post.id }}" class="btn btn-primary">Lire la suite</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
