{% for modal in modals %}
	<div class="modal fade" id="{{ modal.id }}" tabindex="-1" aria-labelledby="{{ modal.id }}Label" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center pb-5">
					<div class="container">
						<div class="row justify-content-center">
							<div
								class="col-lg-8">
								<!-- Portfolio Modal - Title-->
								<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ modal.title }}</h2>
								<!-- Icon Divider-->
								<div class="divider-custom">
									<div class="divider-custom-line"></div>
									<div class="divider-custom-icon">
										<i class="fas fa-star"></i>
									</div>
									<div class="divider-custom-line"></div>
								</div>
								<!-- Portfolio Modal - Image-->
								<img
								class="img-fluid rounded mb-5" src="{{ modal.image }}" alt="...">
								<!-- Portfolio Modal - Text-->
								<p class="mb-4">{{ modal.description|raw }}</p>
								<button class="btn btn-primary" data-bs-dismiss="modal">
									<i class="fas fa-xmark fa-fw"></i>
									Close Window
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

