{% extends "base.html.twig" %}

{% block content %}

    <section class="page-section bg-light mt-5" id="comments-validated">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary fs-5">Commentaires validés</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-comments"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% if comments is empty %}
                        <p class="text-center">Aucun commentaire validé.</p>
                    {% else %}
                        {% for data in comments %}
                            {% set comment = data.comment %}
                            {% set authorUsername = data.authorUsername %}
                            {% set postTitle = data.postTitle %}

                            <div class="comment border-bottom mb-4 pb-2">
                                <p>
                                    <strong>{{ authorUsername }}</strong>
                                    -
                                    {{ comment.createdAt|date('d-m-Y H:i') }}
                                    sur l'article <a href="/posts/{{ comment.postId }}">{{ postTitle }}</a>
                                </p>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
